#regresar {
    width: 0;
    height: 0;
    border: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid rgb(244, 245, 250);
    background-color:transparent;
    position: absolute;

}

.regresar {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.regresar:hover {
    color: blanchedalmond;
    font-size: 15px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.8s;
    background: transparent;
    color: rgb(240, 18, 2);
}

#equivocadas {
    font-size: 30px;
    text-align: center;
}

#error {
    text-align: center;
    font-size: 27px;
}

footer, strong{

    color: white;
    font-size: 20px;
    text-align: center;
} 
.input-letra {
    border-radius: 5px;
    color: rgb(255, 208, 0);
    border-color: rgb(22, 105, 5);
    background: rgba(0, 0, 0, 0.459);
    font-size: 25px;
    padding: 7px;
    width: 30px;
    margin: 10px auto;
    text-align: center;
}

.btn-letra {
    border: 0;
    color: white;
    font-weight: bold;
    background-color: rgb(8, 35, 155);
    padding: 10px;
    border-radius: 0.5em;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
}
.text {
    font-size:28px;
    font-family:helvetica;
    font-weight:bold;
    text-shadow: 0.1em 0.1em 0.20em #fffff0 ;
    font-size: 90px;
    position: absolute;
    top: 150px;
    left: 50px;
    transform: translate(73%, 73%);

}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.mns {
    font-size:28px;
    font-family:helvetica;
    font-weight:bold;
    text-shadow: 0.1em 0.1em 0.20em #fffff0 ;
    font-size: 90px;
    position: absolute;
    top: 150px;
    left: 50px;
    transform: translate(73%, 73%);

}

.intermitente {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.btn-reiniciar {
    border: 0;
    color: white;
    font-weight: bold;
    background-color: blue;
    padding: 10px;
    border-radius: 0.5em;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
}

.botones-game {
    margin: 1rem;
    padding: 0rem;
    text-align: center;
}

.bordes {
    border-radius: 5px;
    border-left: 0px;
    /* Borde Izquierda 0*/
    border-right: 0px;
    /* Borde Derecha 0*/
    background-color: #f50404;
    /* Transparencia */
    border-top-width: 0px;
    /* Borde Arriba en 0*/
    border-bottom-width: 3px;
    /* Borde Abajo en 2px*/
    font-weight: bold;
    margin: 0px 0px 0px 10px;
    border-color: white;
    color: rgb(2, 2, 2);
    padding: 2px 25px;
    text-align: center !important;
    display: inline;
    font-size: 25px;
}

#lugar {
    text-align: center;
    padding-top: 10px;
}

.titulo {
    text-align: center;
    padding: 1px;
    width: 45vw;
    margin: auto;
    color: rgb(250, 247, 246);
    border: 0.2em solid rgb(248, 240, 240);
    background-color: rgb(5, 5, 5);
    border-radius: 35px;
}

.btn {
    border: 0;
    color: white;
    font-weight: bold;
    background-color: blue;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5em;
}

button:hover {
    color: blanchedalmond;
    font-size: 15px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.8s;
    background: transparent;
    color: rgb(240, 18, 2);
}

.text-input {
    border-radius: 1em;
    border: 0.2em solid rgba(13, 36, 240, 0.993);
    display: block;
    padding: 0.5em;
    width: 30%;
    height: 40px;
    margin-left: auto;
    margin-right:auto;
    font-size: 20px;
    text-align: center;
}


#ahorcado {
    border: 8px dashed rgb(255, 208, 0);
    background-color: transparent;
    border-radius: 7px;
    text-align: center;
}

#item {
    border: 2px solid rgb(255, 0, 76);
    color: rgb(255, 0, 76);
    background-color: #000000;
    border-radius: 5px;
    padding: 5px;
}


/*  */